Import libraries for use in data analysis

In [1]:
#import pandas library as 'pd'
import pandas as pd
#import pyplot module from matplotlib library as 'plt'
import matplotlib.pyplot as plt
#jupyter magic command to display matplotlib graph plots inline rtaher than in a separate window
%matplotlib inline

Import stock data for **AAPL**

In [2]:
#read csv file into a pandas dataframe
aapl = pd.read_csv('./data/AAPL.csv')
#display the first 5 rows of the dataframe to check loaded
aapl.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-10-31,153.160004,154.240005,151.919998,153.339996,152.435699,97943200
1,2022-11-01,155.080002,155.449997,149.130005,150.649994,149.761551,80379300
2,2022-11-02,148.949997,152.169998,145.000000,145.029999,144.174698,93604600
3,2022-11-03,142.059998,142.800003,138.750000,138.880005,138.060959,97918500
4,2022-11-04,142.089996,142.669998,134.380005,138.380005,137.792114,140814800

In [3]:
#display the last 5 rows of the dataframe to check loaded
aapl.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
247,2023-10-25,171.880005,173.059998,170.649994,171.100006,171.100006,57157000
248,2023-10-26,170.369995,171.380005,165.669998,166.889999,166.889999,70625300
249,2023-10-27,166.910004,168.960007,166.830002,168.220001,168.220001,58468600
250,2023-10-30,169.020004,171.169998,168.869995,170.289993,170.289993,51082900
251,2023-10-31,169.350006,170.750000,167.899994,170.364502,170.364502,28201324