Import libraries for use in data analysis

In [7]:
#import pandas library as 'pd'
import pandas as pd
#import pyplot module from matplotlib library as 'plt'
import matplotlib.pyplot as plt
#jupyter magic command to display matplotlib graph plots inline rtaher than in a separate window
%matplotlib inline

Import stock data for **AAPL**

In [8]:
#read csv file into a pandas dataframe
aapl = pd.read_csv('./data/AAPL.csv')
#display the first 5 rows of the dataframe to check loaded
aapl.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-10-31,153.160004,154.240005,151.919998,153.339996,152.435699,97943200
1,2022-11-01,155.080002,155.449997,149.130005,150.649994,149.761551,80379300
2,2022-11-02,148.949997,152.169998,145.000000,145.029999,144.174698,93604600
3,2022-11-03,142.059998,142.800003,138.750000,138.880005,138.060959,97918500
4,2022-11-04,142.089996,142.669998,134.380005,138.380005,137.792114,140814800

In [9]:
#display the last 5 rows of the dataframe to check loaded
aapl.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
247,2023-10-25,171.880005,173.059998,170.649994,171.100006,171.100006,57157000
248,2023-10-26,170.369995,171.380005,165.669998,166.889999,166.889999,70625300
249,2023-10-27,166.910004,168.960007,166.830002,168.220001,168.220001,58468600
250,2023-10-30,169.020004,171.169998,168.869995,170.289993,170.289993,51082900
251,2023-10-31,169.350006,170.750000,167.899994,170.364502,170.364502,28201324

Create new MA columns - 20 and 60 day MA

In [10]:
#create new MA20 column in the dataframe and calculate the 20 day moving average
aapl['MA20'] = aapl['Close'].rolling(20).mean()
#create new MA60 column in the dataframe and calculate the 60 day moving average
aapl['MA60'] = aapl['Close'].rolling(60).mean()
#use dropna() to remove any rows with missing data
aapl = aapl.dropna()
#display the first 5 rows of the dataframe to check
aapl.head()

,Date,Open,High,Low,Close,Adj Close,Volume,MA20,MA60
59,2023-01-26,143.169998,144.250000,141.899994,143.960007,143.348419,54105100,133.397000,139.896999
60,2023-01-27,143.160004,147.229996,143.080002,145.929993,145.310028,70555800,134.391500,139.773499
61,2023-01-30,144.960007,145.550003,142.850006,143.000000,142.392502,64015300,135.060999,139.645999
62,2023-01-31,142.699997,144.339996,142.279999,144.289993,143.677002,65874500,135.778999,139.633666
63,2023-02-01,143.970001,146.610001,141.320007,145.429993,144.812149,77663600,136.796999,139.742832